@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand {

    font-size: 30px !important;
    color: blue !important;
    border: 1px solid black;
    padding: 1rem;
    box-shadow: inset 0px 0px 10px white;
}

.navbar-brand:hover {

    color: orange !important;
}

.nav-link {

    color: red !important;
    transition: all ease .5s !important;
}

.nav-link:hover {

    background-color: white;
    border-radius: 10px;
}

.main {
    border: 1px solid black;
    height: 90vh;
    background-image: url('./back1.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.bottom{

   background-color: #221f22a1;
  
}

.formdiv {

    /* border: 1px solid red; */
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formdiv form input {

    border: 1px solid black;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: transparent;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 500px;
    color: white;


}

.submit{
    transition: all ease .5s;
    font-size: 3rem;
}

.submit:hover {

    background-color: black;
    color: white;
    color: yellow;
}

/* ******************** annmation text ***************** */
.Pricer h3{
    text-align: center;
    animation: Pricer 1s ease infinite;
    margin-top: 20px;
    font-size:  3rem;
}
@keyframes Pricer {
    0%,
    100% {
        text-shadow: 0 0 10px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 2px #fed128, 2px 2px 2px #806914;
        color: #f5efcb;
    }
    50% {
        text-shadow: 0 0 2px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
        color: #eda0d3;
    }
}